#!/bin/bash
# 'direnv' will load this file automatically
export DB_URL='localhost:5432/postgres?currentSchema=spring_demo'
export DB_USERNAME='postgres'
export DB_PASSWORD='postgres'

echo "----------------------------------------------------------------------"
echo "Environment Variables"
echo "----------------------------------------------------------------------"
echo "DB_URL      : ${DB_URL}"
echo "DB_USERNAME : ${DB_USERNAME}"
echo "DB_PASSWORD : ${DB_PASSWORD}"
echo ""
